#initially-hidden {
  display: none;
}
#initially-hidden img {
  width: 400px;
  padding-bottom: 10px;
}
#initially-showing img {
  width: 400px;
  padding-bottom: 10px;
}
.clickable {
  cursor: pointer;
  color: blue;
}
.clickable:hover {
  text-decoration: underline;
}
